<template name="daydGallery">
  <div id="dayd-gallery">
    {{#if hasNotGalerie}}
      <div class="pull-right">
        <button class="btn btn-xs btn-primary enableGalerie">Activer ma galerie</button>
      </div>
    {{/if}}

    <div class="page-header">
      <h1 class="titre">Galeries</h1>

      <ol class="breadcrumb">
        <li><a href="/" title="Accueil"><i class="fa fa-home"></i></a></li>
        <li class="active">Galeries</li>
      </ol>
    </div>

    {{#each usersGalerie}}
      <a href="{{pathFor 'daydGalleryUser' userId=_id}}" class="dayd-bloc dayd-bloc-folder">
        <div class="username">{{username}}</div>
        {{#with media}}
          {{#if isImage}}
            <img src="{{link 'preview'}}" alt="{{name}}" width="100"/>
          {{/if}}
          {{#if isVideo}}
            <video height="auto" controls="controls">
              <source src="{{link}}?play=true" type="{{type}}"/>
              <!-- Same as: -->
              <!-- <source src="{{fileURL}}?play=true" type="{{type}}" /> -->
            </video>
          {{/if}}
        {{/with}}
      </a>
    {{else}}
      Aucune galerie
    {{/each}}
    <div class="clearfix"></div>

  </div>
</template>
