<template name="daydGalleryFolder">
  <a href="{{pathFor 'daydGalleryUser' userId=user._id folderId=_id}}" class="dayd-bloc dayd-bloc-folder">
    {{#if isGalerieEditing}}
      <button class="pull-right btn btn-xs btn-danger deleteMedia"><i class="fa fa-trash"></i></button>
    {{/if}}
    <div class="username">{{name}}</div>
    {{#with mediaFolder}}
      {{#if isImage}}
        <img src="{{link}}" alt="{{name}}s" width="100"/>
      {{/if}}
      {{#if isVideo}}
        <video height="auto" controls="controls">
          <source src="{{link}}?play=true" type="{{type}}"/>
          <!-- Same as: -->
          <!-- <source src="{{fileURL}}?play=true" type="{{type}}" /> -->
        </video>
      {{/if}}
    {{/with}}
  </a>
</template>