<template name="daydGalleryUser">
  <div id="dayd-gallery" class="{{isGalerieEditingClass}}">
    <div class="page-header">
      <h1 class="titre">Galerie de {{getUsername userId}}</h1>

      {{#if isMyGallery}}
        {{#if isGalerieEditing}}
          <div class="pull-right">
            {{#if hasGalerie}}
              <button class="btn btn-xs btn-danger disableGalerie"><i class="fa fa-edit"></i> Desactiver ma galerie</button>
            {{else}}
              <button class="btn btn-xs btn-primary enableGalerie">Activer ma galerie</button>
            {{/if}}
            <button class="btn btn-xs btn-default galerie-edit"><i class="fa fa-edit"></i> Terminé</button>
          </div>
        {{else}}
          <button class="pull-right btn btn-xs btn-primary galerie-edit"><i class="fa fa-edit"></i> Modifier</button>
        {{/if}}
      {{/if}}

      <ol class="breadcrumb">
        <li><a href="/" title="Accueil"><i class="fa fa-home"></i></a></li>
        <li><a href="{{pathFor 'daydGallery'}}" title="Galeries">Galeries</a></li>
        {{#if withFolders}}
          <li class="active">{{getUsername userId}}</li>
        {{else}}
          <li><a href="{{pathFor 'daydGalleryUser' userId=userId folderId=''}}" title="{{getUsername userId}}">{{getUsername userId}}</a></li>
          <li class="active">{{folderName}}</li>
        {{/if}}
      </ol>
    </div>

    {{#if isGalerieEditing}}
      {{> daydGalleryEdit}}
    {{/if}}

    {{#if withFolders}}
      {{#each folders}}
        {{> daydGalleryFolder}}
      {{/each}}
      <div class="clearfix"></div>
    {{/if}}

    <div>
      <ul class="list-unstyled medias-viewer">
        {{#each medias}}
          {{> daydGalleryMedia}}
        {{else}}
          Aucune image
        {{/each}}
      </ul>
      <div class="clearfix"></div>
    </div>

    {{> daydComments type="gallery" value=pageGalleryUserId}}
  </div>
</template>
