<template name="daydGalleryMedia">
  <li class="dayd-bloc dayd-bloc-media">
    {{#if isGalerieEditing}}
      <div class="action-media">
        <button class="pull-right btn btn-xs btn-danger deleteMedia"><i class="fa fa-trash"></i></button>
        <select name="moveMedia">
          <option value="select">-- Move</option>
          <option value="">No folder</option>
          {{#each folders}}
            <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}
    {{#with media}}
      {{#if this.isUploaded}}
        <img src="{{this.url store='daydGalleryMediasTn' storing='/img/uploading.gif'}}" data-original="{{this.url store='daydGalleryMedias' storing='/img/uploading.gif'}}" width="100px">

        <div class="comment">
          {{nbCommentaires}}
          {{#if isCommentsShowed}}
            <div class="comment-all">
              {{> commentaires type="media" value=_id}}
            </div>
          {{/if}}
        </div>
      {{else}}
        {{> FS.UploadProgressBar bootstrap=true}}
      {{/if}}

    {{/with}}
  </li>
</template>
