<template name="daydGalleryFolder">
  <a href="{{pathFor 'daydGalleryUser' userId=createdBy._id folderId=_id}}" class="dayd-bloc dayd-bloc-folder">
    {{#if isGalerieEditing}}
      <div class="action-media">
        <div class="col-sm-offset-6">
          <button class="btn btn-xs btn-danger deleteMedia"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    {{/if}}
    <div class="username">{{name}}</div>
    {{#with mediaFolder}}
      {{#if isImage}}
        <img src="{{link 'preview'}}" alt="{{name}}s" width="100"/>
      {{/if}}
      {{#if isVideo}}
        <video width="100" height="auto">
          <source src="{{link}}?play=true" type="{{type}}"/>
          <!-- Same as: -->
          <!-- <source src="{{fileURL}}?play=true" type="{{type}}" /> -->
        </video>
      {{/if}}
    {{/with}}
  </a>
</template>